#notetitle{
    width: 145px;
    margin-bottom: 10px;
    margin-left: 14px;
}

#header{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


#table_title{
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
  }

th, td{
    padding: 5px;
}
 

.column_info_prompt{
    color: grey;
}

#addbutton {
    padding-left: 1000px;
    float: right;
}